@import '../../styles/mixins.scss';

.container {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .author {
      margin-bottom: 20px;
    }

    .posts {
      margin: 0 auto;
      margin-top: 30px;
      padding: 15px;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px 0;

      h3 {
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #979797;
      }

      @media screen and (max-width: 800px) {
        width: 90%;
      }

      @media screen and (max-width: 420px) {
        width: 98%;
      }
    }
  }
}
