.comment {
  .author {
    font-size: 18px;
  }

  .content {
    margin-top: 10px;
    margin-bottom: 5px;
    word-break: break-all;
    white-space: pre-line;
  }

  .date {
    font-size: 14px;
    color: #c2c2c2;
  }
}